WarningScreen {
	align: center middle;
}

WarningScreen .popup {
	width: 50%;
	height: 50%;
	align: center middle;
	/*content-align: center middle;*/
}

WarningScreen #close_popup {
	align: center middle;
	width: 75%;
}

WarningScreen .warning_label {
	width: 75%;
	text-align: center;
}